{% extends 'layouts/base.html' %}

{% block content %}
<h1>Tasks</h1>
<div class="row row-cols-1 row-cols-md-1 g-1">
    {% for task in tasks %}
    <div class="col mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{task.title}} {% if task.done == False %} 🕑 {% else %} ✅ {% endif %}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Project: {{task.projects.name}}</h6>
                <p class="card-text">{{task.description}}</p>
                <a href="#" class="btn btn-outline-success">Done</a>
                <a href="#" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}