{% extends 'layouts/base.html' %}
{% block  content %}
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, tenetur, minima maxime, a doloremque voluptate alias tempore laudantium rerum explicabo quia quis enim. Tenetur nemo error libero reiciendis sequi consequatur, animi laudantium eaque doloremque assumenda saepe eligendi, quos sit iure quod eum similique, consequuntur quae porro incidunt delectus aliquid quas dignissimos? Aliquid assumenda deserunt distinctio quos? Animi excepturi, impedit quod vel repellendus, nemo modi tenetur, dolores expedita dicta asperiores. Officia fuga molestiae magnam possimus exercitationem velit assumenda doloremque quidem repellat, adipisci deserunt illo, rerum ullam quibusdam dicta qui animi consectetur. Blanditiis odio praesentium corrupti, officia hic illo voluptate totam quidem.</p>

    <p>Website created by {{username}}</p>
{% endblock %}