{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
    <h1>{{title}}</h1>
    <img src="{% static 'avatar_guts.png' %}" class="mt-3  mb-3" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error porro esse laborum eveniet accusantium facilis corporis reprehenderit distinctio consequuntur veritatis? Aliquid, eos sint optio adipisci corrupti debitis repudiandae porro molestiae consequuntur id et placeat maiores blanditiis officiis labore. Optio, numquam?</p>
{% endblock %}